.bc-text-field {
    display: block;
    width: 100%;
    height: 100%;

    [bcFormFieldIcon2] {
        right: 35px;
        height: 100%;
        position: absolute;
        align-items: center;
    }
}