@if ( isAIResponse ) {
    <div class="layout-row align-items-start justify-content-flex-start mb-10">
        <div class="w-40 mr-10">
            <div class="image-container">
                <img src="assets/img/favicon.png"/>
            </div>
        </div>
        <div class="receive" *ngIf="content">
            <bc-markdown [src]="content" class="markdown-prose"></bc-markdown>
        </div>
    </div>
} @else {
    <div  class="layout-row align-items-center justify-content-flex-end mb-10">
        <div style="width: 20%;"></div>
        <div class="send" *ngIf="content">
            <bc-markdown [src]="content" class="markdown-prose"></bc-markdown>
        </div>
    </div>
}