<bc-button
    content="Create New Chat"
    type="primary"
    classCustom="font-weight-bold"
    style="width: 100%;"
    class="mb-10"
    (onClick)="createChat()">
</bc-button>
<bc-search-box
    height="50px"
    placeHolder="Search chat's window..."
    (onSearchChange)="onSearch($event)">
</bc-search-box>
<div class="mb-10"></div>

@if ( dspChatlist?.length ) {
    <div class="chat-list-container">
        <div
            class="chat-item"
            *ngFor="let chatItem of dspChatlist; trackBy: trackByFunc;"
            [class.active]="activeChatId === chatItem?.id"
            (click)="setActiveChat(chatItem?.id)">
            <div class="layout-row align-items-center flex">
                @if ( chatItem?.isEdit ) {
                    <bc-text-field
                        canEdit
                        notShowError
                        height="50px"
                        [control]="editNameControl"
                        (saveEvent)="saveRename()"
                        (cancelEvent)="cancelRename()"
                        (click)="$event?.stopPropagation();">
                    </bc-text-field>
                } @else {
                    <bc-truncate position="top">{{ chatItem?.title }}</bc-truncate>
                    <div
                        position="right"
                        [dropdownTriggerFor]="moreAction"
                        [contextData]="{ id: chatItem?.id }"
                        (click)="$event?.stopPropagation();">
                        ...
                    </div>
                }
            </div>
        </div>
    </div>
} @else {
    <div class="chat-list-empty">
        <div class="layout-row flex-direction-column align-items-center">
            <i
                class="a-icon ui-ic-alert-info"
                style="font-size: 70px; color: var(--bosch-warning);">
            </i>
            <div class="title">There is no chat's window</div>
        </div>
    </div>
}

<bc-dropdown #moreAction>
    <ng-template #contentTemplate let-contextData="contextData">
        <div class="bc-menu">
            <div class="bc-menu__item" (click)="rename( contextData?.id )">Rename</div>
            <div class="bc-menu__item" (click)="delete( contextData?.id )">Delete</div>
        </div>
    </ng-template>
</bc-dropdown>