$sizes: 50;

@mixin margin-classes {
    @for $i from 0 through $sizes {
        $margin: $i * 1px;
        /* margin #{$margin} */
        .m-#{$i}  {margin: $margin;}
        .ml-#{$i} {margin-left: $margin;}
        .mr-#{$i} {margin-right: $margin;}
        .mt-#{$i} {margin-top: $margin;}
        .mb-#{$i} {margin-bottom: $margin;}
        .mx-#{$i} {margin-left: $margin; margin-right: $margin;}
        .my-#{$i} {margin-top: $margin; margin-bottom: $margin;}
    }
}

@mixin padding-classes {
    @for $i from 0 through $sizes {
        $padding: $i * 1px;
        .p-#{$i} {padding: $padding;}
        .pl-#{$i} {padding-left: $padding;}
        .pr-#{$i} {padding-right: $padding;}
        .pt-#{$i} {padding-top: $padding;}
        .pb-#{$i} {padding-bottom: $padding;}
        .px-#{$i} {padding-left: $padding; padding-right: $padding;}
        .py-#{$i} {padding-top: $padding; padding-bottom: $padding;}
    }
}

$percentSizes: 100;
@mixin width-percent-classes {
    @for $i from 0 through $percentSizes {
        $width: $i * 1%;
        .w-percent-#{$i} { width: $width; }
    }
}

@mixin height-percent-classes {
    @for $i from 0 through $percentSizes {
        $height: $i * 1%;
        .h-percent-#{$i} { height: $height; }
    }
}


$pxSizes: 1000;
@mixin width-classes {
    @for $i from 0 through $pxSizes {
        $width: $i * 1px;
        .w-#{$i} { width: $width; }
    }
}

@mixin height-classes {
    @for $i from 0 through $pxSizes {
        $height: $i * 1px;
        .h-#{$i} { height: $height; }
    }
}