<bc-form-field>
    <div class="layout-row pos-relative">
        <div bcFormFieldLabel *ngIf="label">{{ label }}</div>
        <input
            bcFormFieldInput
            [type]="type"
            #eleRef
            [placeholder]="placeHolder"
            [formControl]="control"
            [style.width]="width"
            [style.height]="height"
        />
        <bc-button
            bcFormFieldIcon
            type="integrated"
            [icon]="icon"
            [disabled]="disabled"
            (onClick)="onClickIcon()"
        >
        </bc-button>
    </div>

    <div bcFormFieldError [class.hidden]="!isError" *ngIf="!notShowError">
        {{ control?.errors | formControlErrorMsg }} 
    </div>
</bc-form-field>
