@if (activeChatId) {
    <bc-menu-single-field
        label="Models"
        height="50px"
        width="300px"
        class="mb-10"
        *ngIf="modelSelectedControl"
        [control]="modelSelectedControl"
        [options]="modelOptions">
    </bc-menu-single-field>

    <div class="container">
        <bc-message
            *ngFor="let message of messages; trackBy: trackByFunc;"
            [content]="message?.content"
            [errorContent]="message?.errorContent"
            [isAIResponse]="message?.role === 'assistant'">
        </bc-message>
    </div>

    <div class="footer">
        <bc-auto-resize-textarea
            customBorder="none"
            [control]="control"
            (pressEnterEvent)="start()">
        </bc-auto-resize-textarea>

        @if (isGenerating) {
            <i
                class="a-icon boschicon-bosch-ic-stop-frame custom-icon"
                style="color: var(--bosch-red)"
                (click)="stop()">
            </i>
        } @else {
            <i
                class="a-icon boschicon-bosch-ic-arrow-up-frame custom-icon"
                [class.disabled]="control?.invalid"
                (click)="start()">
            </i>
        }
    </div>
} @else {
    <div class="empty-chat">
        <div class="title">Please select a chat's window</div>
    </div>
}