@if ( totalPages ) {
    <ng-template #iconTmp let-icon="icon" let-onClick="onClick">
        <div class="bc-pagination__item" (click)="onClick && onClick()">
            <div class="layout-row align-items-center justify-content-center h-full">
                <i [class]="icon"></i>
            </div>
        </div>
    </ng-template>

    <ng-template #numTmp let-item="item">
        <div
            class="bc-pagination__item ml-5"
            [class.active]="item === selected"
            (click)="select( item )">
            <div class="layout-row align-items-center justify-content-center h-full">
                {{ item + 1 }}
            </div>
        </div>
    </ng-template>

    <div class="layout-row align-items-center">
        <ng-container *ngTemplateOutlet="iconTmp;
            context: { icon: 'a-icon ui-ic-left', onClick: previous.bind( this ) }">
        </ng-container>

        <ng-container *ngFor="let item of leftSide">
            <ng-container *ngTemplateOutlet="numTmp; context: { item: item }"></ng-container>
        </ng-container>

        <div class="ml-5" *ngIf="middleSide?.length">...</div>

        <ng-container *ngFor="let item of middleSide">
            <ng-container *ngTemplateOutlet="numTmp; context: { item: item }"></ng-container>
        </ng-container>

        <div class="ml-5" *ngIf="rightSide?.length">...</div>

        <ng-container *ngFor="let item of rightSide">
            <ng-container *ngTemplateOutlet="numTmp; context: { item: item }"></ng-container>
        </ng-container>

        <div class="ml-5"></div>

        <ng-container *ngTemplateOutlet="iconTmp;
            context: { icon: 'a-icon ui-ic-right', onClick: next.bind( this ) }">
        </ng-container>
    </div>
}