<supergraphic></supergraphic>

<div class="layout-row h-full">
    @if ( isCloseSidebar ) {
        <div class="left-page-min">
            <bc-button icon="ui-ic-menu" (onClick)="isCloseSidebar = false"></bc-button>
        </div>
    } @else {
        <div class="left-page-max">
            <sidebar
                [chatList]="chatList"
                [activeChatId]="chatId"
                (selectedChatIdEvent)="changeChatWindow($event)"
                (createChatEvent)="createNewChat()"
                (deleteEvent)="deleteChat($event)"
                (updateEvent)="updateChat($event)"
                (closed)="isCloseSidebar = true">
            </sidebar>
        </div>
    }
    <div class="right-page"> 
        <bc-chat
            [messages]="messages"
            [activeChatId]="chatId"
            [modelList]="modelList"
            [modelSelected]="modelSelected">
        </bc-chat>
    </div>
</div>