<supergraphic></supergraphic>

<div class="layout-row h-full">
    <div class="left-page">
        <sidebar
            [chatList]="chatList"
            [activeChatId]="chatId"
            (selectedChatIdEvent)="changeChatWindow($event)"
            (createChatEvent)="createNewChat()"
            (deleteEvent)="deleteChat($event)"
            (updateEvent)="updateChat($event)">
        </sidebar>
        <div
            class="account"
            [dropdownTriggerFor]="accountDropdown"
            position="top" >
            <div class="layout-row align-items-center">
                <bc-avatar [imgLink]="user?.profile_image_url" class="mr-10"></bc-avatar>
                <bc-truncate class="font-weight-bold">{{ user?.name }}</bc-truncate>
            </div>
        </div>
    </div>
    
    <div class="right-page"> 
        <bc-chat
            [messages]="messages"
            [activeChatId]="chatId"
            [modelList]="modelList"
            [modelSelected]="modelSelected">
        </bc-chat>
    </div>
</div>

<bc-dropdown #accountDropdown>
    <ng-template #contentTemplate>
        <div class="bc-menu">
            <!-- <div class="bc-menu__item">Settings</div> -->
            <div class="bc-menu__item" (click)="signOut()">Sign Out</div>
        </div>
    </ng-template>
</bc-dropdown>